<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MidasShopSolution.CustomerSite</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/themes/sketchy/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MidasShopSolution.CustomerSite.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>

                    </ul>
                    <div class="btn-group me-sm-2">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <button type="button" class="btn btn-secondary">@User.Identity.Name</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        @* <a class="dropdown-item" href="/Profile">@User.Identity.Name</a> *@

                    </form>
                </div>
            </div>
        </nav>
    </header>
    @* Header End *@
    <div id="mainBody">
        @RenderSection("carousel", required: false)
        <div class="container-fluid">
            <div class="row content p-3">
                <div class="col-sm-3 sidenav card mb-3 p-0">
                    <ul class="list-unstyled">
                        @* <li class="mb-1"> *@
                        <h2 class="card-body mb-0 pb-0" id="headingOne">
                            <button class="accordion-button btn btn-toggle align-items-center rounded"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                Home
                            </button>
                        </h2>
                        <div class="collapse p-3" id="home-collapse" style="">
                            <div class="list-group list-group-flush">
                                <a href="#"
                                    class="nav-item nav-link list-group-item list-group-item-action">Overview</a>
                                <a href="#" class="list-group-item list-group-item-action">Updates</a>
                                <a href="#" class="list-group-item list-group-item-action">Reports</a>
                            </div>
                        </div>
                        @* </li> *@
                        <li class="mb-1">
                            <h2 class="card-body mb-0 pb-0">
                                <button class="accordion-button btn btn-toggle align-items-center rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
                                    aria-expanded="false">
                                    Dashboard
                                </button>
                            </h2>
                            <div class="collapse p-3" id="dashboard-collapse" style="">
                                <div class="list-group list-group-flush ">
                                    <a href="#" class="list-group-item list-group-item-action">Overview</a>
                                    <a href="#" class="list-group-item list-group-item-action">Updates</a>
                                    <a href="#" class="list-group-item list-group-item-action">Reports</a>
                                </div>
                            </div>
                        </li>
                        <li class="mb-1">
                            <h2 class="card-body mb-0 pb-0">
                                <button class="accordion-button btn btn-toggle align-items-center rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                    Orders
                                </button>
                            </h2>
                            <div class="collapse p-3" id="orders-collapse" style="">
                                <div class="list-group list-group-flush ">
                                    <a href="#" class="list-group-item list-group-item-action">Overview</a>
                                    <a href="#" class="list-group-item list-group-item-action">Updates</a>
                                    <a href="#" class="list-group-item list-group-item-action">Reports</a>
                                </div>
                            </div>
                        </li>
                        <li class="mb-1">
                            <h2 class="card-body mb-0 pb-0">

                                <button class="accordion-button btn btn-toggle align-items-center rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                    Account
                                </button>
                            </h2>
                            <div class="collapse p-3 pb-0" id="account-collapse" style="">
                                <div class="list-group list-group-flush ">
                                    <a href="#" class="list-group-item list-group-item-action">Overview</a>
                                    <a href="#" class="list-group-item list-group-item-action">Updates</a>
                                    <a href="#" class="list-group-item list-group-item-action">Reports</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    </div>
    </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MidasShopSolution.CustomerSite - <a asp-area="" asp-controller="Home"
                asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>