@model MidasShopSolution.ViewModels.Products.ProductDto;
@using MidasShopSolution.ViewModels.Comments;
@{
    ViewData["Title"] = "Details";
    var CommentList = ViewData["CommentList"];
}
@section Scripts {
<script src="~/js/products/details/script.js"></script>
}
<div class="">
    <div class="row content p-3">
        @Html.Partial("Component/Sidebar/Default")
        <div class="col-sm-9 p-4">
            <section class="">
                <div class="container mt-5 mb-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <div class="card border p-4">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-6 ">
                                        <div class="images p-3">
                                            <div class="text-center imgContainer mb-2">
                                                @{
                                                    var imgSrc = "";
                                                    if (Model.Images.Count != 0)
                                                    {
                                                        imgSrc = "https://localhost:5001/uploads/" +
                                                        Model.Images.First().ImagePath;
                                                    }
                                                    else
                                                    {
                                                        imgSrc = "https://via.placeholder.com/400";
                                                    }
                                                }
                                                <div class="p-4">
                                                    <img class="img-fluid" id="main-image" src="@imgSrc" width="400"
                                                        height="400" />
                                                </div>
                                            </div>
                                            <div class="thumbnail text-center">
                                                @foreach (var item in Model.Images)
                                                {
                                                    var imgItemSrc = "https://localhost:5001/uploads/" + item.ImagePath;
                                                    <img class="border p-2" onclick="change_image(this)" src="@imgItemSrc"
                                                    width="70">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-6 p-2">
                                        <div class="product">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    @* <i class="fa fa-long-arrow-left"></i> <span
                                                        class="ml-1">Back</span> *@
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                        <li class="breadcrumb-item active">Library</li>
                                                    </ol>
                                                </div>
                                                <button class="btn btn-warning ml-auto">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                                @* <h1>@ViewBag.userId</h1> *@
                                            </div>
                                            <div class="mt-4 mb-3"> <span
                                                    class="text-uppercase text-muted brand">Orianz</span>
                                                <h5 class="text-uppercase">@Model.Name</h5>

                                                <div class="price align-items-center row">
                                                    <div class="col-lg-6 col-sm-12">
                                                        <h5 class="text-dark">@Convert.ToInt32(Model.Price).ToString()đ
                                                        </h5>
                                                    </div>
                                                    <p
                                                        class="text-decoration-line-through text-danger col-lg-3 col-sm-12">
                                                        @Convert.ToInt32(Model.OriginalPrice).ToString()đ</p>
                                                    @* <span>40% OFF</span> *@
                                                </div>
                                                <div class="d-flex justify-content-between mb-2">
                                                    <p class="text-muted mb-0">Available: <span
                                                            class="fw-bold">@Model.Stock</span>
                                                    </p>
                                                    <div class="ms-auto text-warning">
                                                        <input class="rating" max="5" readonly step="0.01"
                                                            style="--value;--value:@Model.ViewCount;--starsize:1.5rem"
                                                            type="range" value="@Model.ViewCount">
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="about">@Model.Description</p>
                                            @* <div class="sizes mt-5">
                                                <h6 class="text-uppercase">Size</h6> <label class="radio"> <input
                                                type="radio" name="size" value="S" checked> <span>S</span>
                                                </label>
                                                <label class="radio"> <input type="radio" name="size" value="M">
                                                <span>M</span> </label> <label class="radio"> <input type="radio"
                                                name="size" value="L"> <span>L</span> </label> <label
                                                class="radio">
                                                <input type="radio" name="size" value="XL"> <span>XL</span> </label>
                                                <label class="radio"> <input type="radio" name="size" value="XXL">
                                                <span>XXL</span> </label>
                                                </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container text-dark">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="d-flex flex-start w-100 justify-content-center">
                                        @if (User.Identity.Name != null)
                                        {
                                            <form class="w-100" method="post" action="/Comments">
                                                <button type="button"
                                                class="btn btn-primary disabled">@User.Identity.Name</button>
                                                <h5>Add a comment</h5>
                                                <div class="container">
                                                    <label class="rating-label">
                                                        <input class="rating" max="5" name="Rate"
                                                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                                                        step="1" style="--value:5" type="range" value="5">
                                                    </label>
                                                </div>
                                                <div class="form-outline">
                                                    <textarea class="form-control" id="textAreaExample" name="Content"
                                                    rows="4"></textarea>
                                                    <label class="form-label" for="textAreaExample">What is your
                                                        view?</label>
                                                </div>
                                                <div class="d-flex justify-content-between mt-3">
                                                    <button type="submit" class="btn btn-danger">
                                                        Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                                    </button>
                                                </div>
                                                <input type="hidden" name="ProductId" type="number" value=@Model.Id>
                                                <input type="hidden" name="UserId" type="number" value=@ViewBag.userId>
                                            </form>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success" href="/Users/Login">
                                                Login to Add a comment
                                            </a>
                                        }
                                    </div>
                                </div>

                                <div class="p-2">
                                    @foreach (var item in CommentList as ICollection<CommentDto>)
                                    {
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <h4 class="card-title">Card title</h4>
                                                <h6 class="card-subtitle mb-2 text-muted"><input class="rating" max="5"
                                                    readonly step="0.01"
                                                    style="--value;--value:@item.Rate;--starsize:1.5rem" type="range"
                                                    value="@item.Rate"></h6>
                                                <p class="card-text">@item.Content</p>
                                                @if (User.Identity.Name != null)
                                                {
                                                    if (item.UserId.ToString() == ViewBag.userId)
                                                    {
                                                        <form class="w-100" method="post" action="/comments/delete/@item.Id">
                                                            <a href="#" class="btn btn-link">Edit</a>
                                                            <button type="submit" class="btn btn-link">Delete</button>
                                                        </form>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="">
                <div class="container mt-5">
                    <h2 class="fw-bolder mb-4">Related products</h2>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-3 justify-content-center">
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                    alt="...">
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Fancy Product</h5>
                                        <!-- Product price-->
                                        $40.00 - $80.00
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
                                            options</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute"
                                    style="top: 0.5rem; right: 0.5rem">
                                    Sale</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                    alt="...">
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Special Item</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        <span class="text-muted text-decoration-line-through">$20.00</span>
                                        $18.00
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                            cart</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute"
                                    style="top: 0.5rem; right: 0.5rem">
                                    Sale</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                    alt="...">
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">Sale Item</h5>
                                        <!-- Product price-->
                                        <span class="text-muted text-decoration-line-through">$50.00</span>
                                        $25.00
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
                                            cart</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>