@model MidasShopSolution.ViewModels.Products.GetProductsByCategoryDto;
@{
    ViewData["Title"] = "Index";
}

<div class="">
    @* <partial name="Sidebar" />
    *@
    <div class="row content p-3">
        @Html.Partial("Component/Sidebar/Default")
        <div class="col-sm-9 p-4">
            <h1>@Model.Category.Name</h1>
            <div class="row">
                @foreach (var item in Model.Products.Items)
                {
                    <div class="col-md-12 col-lg-4 col-sm-3 mb-4 mb-lg-0 my-3">
                        <div class="card border h-100">
                            <div class="d-flex justify-content-between p-3">
                                <p class="lead mb-0">Today's Combo Offer</p>
                                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                                style="width: 35px; height: 35px;">
                                    @{
                                        var stock = item.Stock;
                                    }
                                    <p class="text-white mb-0 small">x @stock</p>
                                </div>
                            </div>
                            @{
                                var imgSrc = "";
                                if (item.Images.Count != 0)
                                {
                                    imgSrc = "https://localhost:5001/uploads/" + item.Images.First().ImagePath;
                                }
                                else
                                {
                                    imgSrc = "https://via.placeholder.com/400";
                                }
                            }
                            <div class="imgContainer">
                                <img src="@imgSrc" class="card-img-top img-fluid" alt="Laptop" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
                                    <p class="small text-danger"><s>@Convert.ToInt32(item.Price).ToString() đ</s>
                                    </p>
                                </div>

                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0"><a class="text-decoration-none"
                                        href="https://localhost:5002/products/@item.Id">@item.Name</a></h5>
                                    <h5 class="text-dark mb-0">@Convert.ToInt32(item.OriginalPrice).ToString() đ
                                    </h5>
                                </div>

                                <div class="d-flex justify-content-between mb-2">
                                    <p class="text-muted mb-0">Available: <span class="fw-bold">@item.Stock</span>
                                    </p>
                                    <div class="ms-auto text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>